{% extends "base.html" %}
{% block title %}Сброс пароля{% endblock %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-8 p-5">
    <div class="card">
      <div class="card-header">
        Чтобы сбросить старый пароль — введите адрес электронной почты, под которым вы регистрировались
      </div>
      <div class="card-body">
        <form method="post"
          {% if action_url %}
            action="{% url action_url %}"
          {% endif %}>
          {% csrf_token %}
          {% with button_name='Сбросить пароль' %}
          {% include 'users/includes/form.html' %}
          {% endwith %}
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}    